.box{
    border: 1px solid black;
     height: 50px;
}

/*CONTACT/LOG/REGISTER BAR*/
#bar-height{
    height: 50px;
    
}
#reg-badge{
    padding: 8px;
    font-size: 15px;
}
#log-badge{
    padding: 8px;
    font-size: 15px;
}
.text-font{font-family: 'Work Sans', sans-serif;}
/*----------MENU BAR-------*/

/*LOGO CONTENT*/
#logo-img{
    width: 60px;
    margin: 5px;
}
#second-bar-height{
    height:  70px;
}
#logo-title{
    transform: translate(0px,15px);
    text-shadow: 1px 0px 1px;
}

/*--------MAIN CONTENT---*/

/*CAROUSEL HEADER*/
#carousel-style{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*MAIN ARTICLE*/
.main-marg{
    margin-top:  60px;
}
.img-article{
    width: 300px;
}
.bottom-margin{margin-bottom: 60px;}


/*MODAL-LOGIN-CHECKBOX*/
#checkbox-padding{
   transform: scale(1.2)
}

.logo{
    width: 100px;
    height: 100px;
}

/*PAGINATION WIDTH*/
.page-item{
    width: 200px;
    
}

.hamburger{
    display: none!important;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 20px;
}

.head-left {
	float: left;
	width: 500px;
}

.head-right {
	float: right;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}


#left-c {
	min-height: 300px;
}

#right-c {
	margin-top: 62px;
}

#right-c img {
	padding-left: 10px;
}

.right-content {
	background: #DF6E1E;
}

#footer {
	clear: both;
	text-align: center;
	font-size: 14px;
	padding-top: 30px;
	border-top: 1px solid #CCC;
	padding-bottom: 20px;
}

/* Toolbar */
#toolbar {
	background-color:  rgb(77, 58, 125);
	color: rgb(225, 240, 240);
	width:  100%;
	height:  70px;
	margin-bottom: 20px;
	padding-top: 20px;
}

#toolbar-wrapper {
	width: 960px;
	margin: 0 auto;
}


/* edycja front */
.edit {
	position: relative;
}

.edit_type {
	display: block;
	position: absolute;
	top: -6px;
	right: 10px;
	padding: 4px 18px 5px;
	z-index:  100;
}

.edit_link {
	border: 2px dotted orange;
	position:  absolute;
	top: 0;
	left: 0;
	display: block;
	overflow:  hidden;
	text-indent: -9999px;
}

.edit_link:hover {
	background-color:  rgba(0,0,0,0.3);
}

/*forms */
form ul {
	list-style-type: none;
	margin: 0;
}

form ul li {
	line-height: 22px;
	font-size: 16px;
}

/* formularz edycji */
.form-wrapper {
	padding: 25px;
}

textarea.textarea, textarea.wysiwyg {
	width: 800px;
	height: 300px;
}


/* panel ustawien */
.panel-wrapper {
	padding: 0;
	width: 100%;
}

/*.sk-panel-left, .sk-panel-right {
	outline: 1px solid red;
}*/



.panel-left {
	float: left;
	width: 30%;
	
}

.panel-right {
	padding-left: 5%;
	float: right;
	width: 65%;
	height: 475px;
} 

.b-close {
	position: absolute;
	top: 10px;
	right: 20px;
}

.cancel {
	margin-bottom: 20px;
	float: right;
	clear: both;
}


@media screen and (max-width:768px)
{
/*MOBILE SCREEN / DISPLAY NONE*/
    
    .hamburger{
    display:block!important;
}
    .menu-btn{
    display:none!important; 
}
    .nav-item{
        transform: translate(0px,-60px);
    }
    .badge-icon{
        display:none!important;
    }
    
    .success{
        color:green;
    }
    .warning{
        color:yellow;
    }
    .error{
        color:red;
    }
    


}